@import './colorscheme.scss';

* {
    all: unset;
    font: {
        family: "SauceCodePro Nerd Font Mono";
    }
}

// ==============================================
//                                    Main Bar
// ==============================================
.main-box {
    background: rgba($color1,0.7);
}

.button-box {
    font-size: 32px;
}

.tray,
.marker {
    background-color: rgba($color9,0.9);
}
/* .tray { */
/*     border-radius: 7px; */
/* } */
.marker {
    border-radius: 7px 0px 0px 7px;
}

// Workspaces
.works {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0px 0px 0px;
    background-color: rgba(#000,0.0);//transparent
}

.ws-active {
    color: rgba($highlight,1);
}

.ws-inactive {
    color: rgba($highlight,0.3);
}

.column {
    margin: 0px 5px 0px 5px;
}

.button-icon {
    color: rgba($fg,1);
}

.time-box {
    margin: 0px 0px 0px 0px;
}

.pack-box {
    margin: 0px 0px 10px 0px;
}

.btt {
    -gtk-icon-transform: rotate(-90deg);
    /* transform: rotate(90deg); */
}

// ==============================================
//                             Slide Out Trays
// ==============================================
.power-tray {
    font-size: 12px;
}

.mem-circ,
.cpu-circ,
.bat-circ, 
.fan-circ,
.temp-circ,
.disk-circ {
  background-color: rgba($color1, 0.514);
}

.bat-circ { color: rgba($color2, 0.65); }
.mem-circ { color: rgba($color3, 0.65); }
.cpu-circ { color: rgba($color4, 0.65); }
.temp-circ { color: rgba($color5, 0.65); }
.disk-circ { color:rgba($color6, 0.65); }

.mem-glyph, 
.cpu-glyph, 
.bat-glyph, 
.fan-glyph,
.temp-glyph,
.disk-glyph {
  color: rgba(#fff, 0.5);
  font-size: 36;
  padding: 40px;
}

.circ-label {
  font-size: 16px;
}

.info-tray {
    margin: 10px;
}

.header-label {
    font-family: "Ubuntu";
    font-size: 40;
    font-weight: bold;
    color: rgba(#fff,0.2);
}

// ==============================================
//                                 Small Clock  
// ==============================================
.small-minutes-circ,
.small-hours-circ {
    opacity: 1;
}

.small-minutes-circ { color: $color10; background-color: $color1; }
.small-hours-circ { color: $color11; }
.small-mask-circ { opacity: 1; color: $color9; }


// ==============================================
//                           Setting Sliders
// ==============================================
.slider-box {
    background-color: rgba(#000,0.3);
    border-radius: 17px;
    padding: 5px 20px 10px 20px;
}

.slider-title {
    font-family: "SauceCodePro Nerd Font Mono";
    font-size: 1.5em;
    padding: 5px;
    color: rgba(#fff,0.5);
}

.volbar trough highlight,
.bribar trough highlight {
    min-height: 30px;
    border-radius: 100px;
}

.volbar trough,
.bribar trough {
    background-color: rgba($color9,0.514);
    border-radius: 100px;
}

.volbar trough highlight {
    background-color: rgba($color14, 0.65);
}

.bribar trough highlight {
    background-color: rgba($color15, 0.65);
}

.slider-label {
    font-family: "SauceCodePro Nerd Font Mono";
    font-size: 15;
    margin: 0px 0px 7px 10px;
    opacity: 0.65;
}


// ==============================================
//                                  Music Box
// ==============================================
.music-art-box {
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 350px;
    min-height: 200px;
    border-radius: 9;
    background-position: center;
}

.music-stuff-box {
    min-height: 200px;
    border-radius: 9px;
    background: linear-gradient(to right, #000, transparent);
}

.music-title {
    margin: 20px 0 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.music-artist {
    margin: 10px 0px 0px 20px;
    font-size: 20px;
    color: #fff;
}

.music-length {
    margin: 90px 0px 0px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.music-controls-box {
    border-radius: 8px;
    min-width: 38px;
    text-shadow: 0px 0px 10px rgba($color1, 1);
}

.music-next,
.music-previous {
    font-size: 30px;
}

.music-pp {
    font-size: 44px;
    color: #fff;
}

.music-next:hover,
.music-previous:hover,
.music-pp:hover {
    color: $color16;
}

// ==============================================
//                              Wifi & Bluetooth
// ==============================================
.wifi-box,
.bluetooth-box {
    border-radius: 17px;
    padding: 5px 20px 10px 20px;
}

.bluetooth-box {
    background-color: rgba($color7,0.3);
}

.wifi-box {
    background-color: rgba($color8,0.3);
}

.bluetooth-glyph {
    font-size: 55px;
    margin-right: 10px;
    color: rgba(#fff,0.3);
}

.wifi-glyph {
    font-size: 55px;
    margin-right: 10px;
    color: rgba(#fff,0.3);
}

.signal-label {
    font-family: "SauceCodePro Nerd Font Mono";
    font-size: 22;
    color: rgba(#fff,0.7);
}

.device-label {
    font-family: "SauceCodePro Nerd Font Mono";
    font-size: 12;
    color: rgba(#fff,0.7);
}


// ==============================================
//                                  Calendar
// ==============================================
.calendar-box {
    background-color: rgba(#000,0.3);
    border-radius: 7px;
}

calendar {
    font-family: Ubuntu;
}

calendar:selected {
    color: rgba($color7,1);
    font-size: 15;
    font-weight: bold;
}

calendar.header {
    font-weight: bold;
}

calendar.button {
    color: $color8;
}

calendar.highlight {
    color: $color16;
    font-weight: bold;
}

.wal-box { 
    background-image: url($wallpaper);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
