$wallpaper: '';

$color1: #1f2335;
$color2: #bb9af7;
$color3: #7aa2f7;
$color4: #2ac3de;
$color5: #ff9e64;
$color6: #9ece6a;
$color7: #1abc9c;
$color8: #f7768e;
$color9:  #3b4261;
$color10: #ff007c;
$color11: #89ddff;
$color12: #b4f9f8;
$color13: #e0af68;
$color14: #73daca;
$color15: #1afc9c;
$color16: #db4b4b;

$fg: #c0caf5;
$highlight: #565f89;
