@keyframes blink-warning {
    70% {
        color: @dark_font;
    }

    to {
        color: @dark_font;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @dark_font;
    }

    to {
        color: @dark_font;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */
/* Uncomment the color scheme that you like */

/* Nord */
/* @define-color bg #2E3440; */
/* @define-color bg #353C4A;*/ 
/* @define-color light #D8DEE9; */
/* @define-color dark @nord_dark_font;*/ 
/* @define-color warning #ebcb8b; */
/* @define-color critical #BF616A; */
/* @define-color mode #434C5E; */
/* @define-color workspaces @bg;*/ 
/* @define-color workspaces @nord_dark_font;*/ 
/* @define-color workspacesfocused #434C5E;*/ 
/* @define-color workspacesfocused #4C566A; */
/* @define-color tray @workspacesfocused; */
/* @define-color sound #EBCB8B; */
/* @define-color network #5D7096; */
/* @define-color memory #546484; */
/* @define-color cpu #596A8D; */
/* @define-color temp #4D5C78; */
/* @define-color layout #5e81ac; */
/* @define-color battery #88c0d0; */
/* @define-color time #596A8D; */
/* @define-color date #434C5E; */
/* @define-color backlight #434C5E; */
/* @define-color nord_bg #434C5E; */
/* @define-color nord_bg_blue #546484; */
/* @define-color nord_light #D8DEE9; */
/* @define-color nord_light_font #D8DEE9; */
/* @define-color nord_dark_font #434C5E; */
/**/

/* tokyonight */ 
@define-color bg_dark #1f2335;
@define-color bg #24283b;
@define-color bg_highlight #292e42;
@define-color terminal_black #414868;
@define-color fg #c0caf5;
@define-color fg_dark #a9b1d6;
@define-color fg_gutter #3b4261;
@define-color dark_three #545c7e;
@define-color dark_five #737aa2;
@define-color cyan #7dcfff;
@define-color blue #7aa2f7;
@define-color blue_zero #3d59a1;
@define-color blue_one #2ac3de;
@define-color blue_two #0db9d7;
@define-color blue_five #89ddff;
@define-color blue_six #B4F9F8;
@define-color blue_seven #394b70;
@define-color magenta #bb9af7;
@define-color magenta_two #ff007c;
@define-color purple #9d7cd8;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color green #9ece6a;
@define-color green_one #73daca;
@define-color green_two #41a6b5;
@define-color teal #1abc9c;
@define-color red #f7768e;
@define-color red_one #db4b4b;

@define-color bar_bg @bg;
@define-color light_font @fg;
@define-color dark_font @fg_gutter;
@define-color launcher @cyan;
@define-color time @blue_six;
@define-color date @blue_one;
@define-color pacman @fg;
@define-color cpu @dark_three;
@define-color mem @dark_five;
@define-color tray @blue_seven;
@define-color workspaces @bg;
@define-color workspacesfocused @bg_highlight;
@define-color bluetooth @blue;
@define-color snip @magenta;
@define-color audio @teal;
@define-color network @blue_five;
@define-color battery @green;
@define-color power @purple;
@define-color mode @green;

@define-color warning @orange;
@define-color critical @red1;
/* Reset all styles */
* {
    border: none;
    border-radius: 500px;
    min-height: 0;
    min-width: 25px;
    margin: 0.1em 0.15em 0.1em 0.15em;
    padding: 0 0.8em;
}

tooltip {
    border-radius: 0px;
    padding: 0.1em;
}

/* The whole bar */
#waybar {
    background: rgba(71,71,71,0.4)/*transparent*/;
    font-family: "Hack", "Font Awesome 6 Free";
    font-size: 12px;
    font-weight: 600;
    padding: 0;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    background: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @dark_font;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
    color: @mode;
    background: @bar_bg;
}

/* Workspaces stuff */

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    /*color: #999;*/
    opacity: 1;
    border-color: @bar_bg;
    border-style: solid;
    border-width: 1px;
    background: none;
    font-size: 1em;
    padding: 0 0.4em;
}

#workspaces button.focused {
    background: @bar_bg;
    color: @light_font;
    opacity: 1;
    padding: 0 0.4em;
}

#workspaces button.active {
    background: @bar_bg;
    color: @light_font;
    opacity: 1;
    padding: 0 0.4em;
}

#workspaces button.urgent {
    border-color: @critical;
    background: @critical;
    opacity: 1;
}

#bluetooth {
    background: @bar_bg;
    color: @bluetooth;
    font-size: 1.2em;
    font-weight: bold;
}

#custom-pacman {
    background: @bar_bg;
    color: @pacman;
    font-weight: bold;
}

#custom-scratchpad-indicator {
    background: @bar_bg;
    color: @bg_dark;
    font-weight: bold;
}

#network {
    background: @bar_bg;
    color: @network;
}

#memory {
    background: @bar_bg;
    color: @mem;
    margin-top: 2px;
    font-size: 1.05rem;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}

#cpu {
    background: @bar_bg;
    color: @cpu;
    margin-bottom: 0px;
    font-size: 1.05rem;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}

#cpu.critical {
    color: @dark_font;
}

#battery {
    background: @bar_bg;
    color: @battery;
}

#clock {
    background: @bar_bg;
    color: @bg;
    color: @dark_font;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
#clock.date {
    background: @bar_bg;
    color: @date;
    font-size: 1rem;
    margin-top: 2px;
}
#clock.time {
    background: @bar_bg;
    font-size: 1.1rem;
    color: @time;
    margin-bottom: 0px;
}

#pulseaudio { /* Unsused but kept for those who needs it */
    background: @bar_bg;
    color: @audio;
}

#pulseaudio.muted {
    background: @bar_bg;
    color: @red;
    /* No styles */
}
#pulseaudio.source-muted {
    background: @bar_bg;
    color: @yellow;
    /* No styles */
}

#tray {
    background: @bar_bg;
    color: @tray;
}

#custom-launcher {
    background: @bar_bg;
    color: @launcher;
}

#custom-logout {
    background: @bar_bg;
    color: @power;
}

#custom-snip {
    background: @bar_bg;
    color: @snip;
}

#clock.group {
    background: @fg;
}

#tray menu {
    border-radius: 0;
    border: 1px solid black;
    padding: 1em;
}
